{
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "ioc": false,
    "expect": false,
    "XError": false
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "templateStrings": true
  },
  "rules": {
    "no-console": 0
  }
}
